&spi4 {
	status = "okay";
	cs-gpios = <&gpio0 24 GPIO_ACTIVE_LOW>; //<&gpio1 4 GPIO_ACTIVE_LOW>;
	sdhc0: sdhc@0 {
		compatible = "zephyr,sdhc-spi-slot";
		reg = <0>;
		status = "okay";
		mmc{
			compatible = "zephyr,sdmmc-disk";
			status = "okay";
		};
		label = "SDHC0";
		spi-max-frequency = <25000000>;
	};
};

// &spi2 {
//     status = "okay";
//     compatible = "nordic,nrf-spim";
//     // sck-pin = < 47 >;
//     // miso-pin = < 46 >;
//     // mosi-pin = < 45 >;
//     cs-gpios = < &gpio0 17 0x0 >;
//     sdhc0: sdhc@0 {
//         compatible = "zephyr,mmc-spi-slot";
//         reg = < 0x0 >;
//         status = "okay";
//         label = "SD";
//         spi-max-frequency = < 0x16e3600 >;
//     };
// };